/* STYLE GERAL */

* {

    scroll-behavior: smooth;
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    position: relative;
    background: url(../assets/pexels-photo-4628195.jpeg) no-repeat center center;
    height: 40vh;
    
    background-size: cover;
    
    overflow-x: hidden;
}

.navbar {
    max-width: 1280px;
    margin: 0 auto;

}

.flex {
    display: flex;
}


.btn-login-cadastro button {
    padding: 10px 40px;
    font-size: 18px;

    background-color: #45a449;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
    color: white;
    font-weight: bold;
}

h2.titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: #45a449;
}

button:hover,
form .btn-login-cadastro input:hover {
    box-shadow: 0px 0px 8px white;
    transform: scale(1.05);
}

/* FIM STYLE GERAL */



/* STYLE NAVBAR */
header {
    padding: 30px 4%;
}

header>.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #acacac;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav.menu a:hover {
    color: #fff;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav.menu ul li {
    display: inline-block;
    padding: 0 70px;
    font-weight: bold;
}

/* FIM STYLE NAVBAR */



/* STYLE PAGINAINICIAL */

.txt-paginaInicial {
    margin-bottom: 5%;
}

section.paginaInicial {
    padding: 40px 4%;
}

section.paginaInicial .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.paginaInicial h1 {
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.paginaInicial .txt-paginaInicial h1 span {
    color: #45a449;
}

.paginaInicial .txt-paginaInicial p {
    color: #fff;
    margin: 30px 0;

}



.paginaInicial .img-paginaInicial img {
    width: 400px;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}


@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

@keyframes flutuarMaisRapido {
    0% {
        top: 0;
    } 50% {
        top: 15px;
    } 100% {
        top: 30px;
    }
}

/* FIM STYLE PAGINAINICIAL */

/* STYLE FUNCIONALIDADES SITE */

section.funcionalidades {

    padding: 40px 4%;
    background-color: rgb(2, 2, 63);

}

section.funcionalidades .flex {
    gap: 60px;
}

.funcionalidades .funcionalidades-box {
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.funcionalidades .funcionalidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff78;
}

.funcionalidades .funcionalidades-box i {
    font-size: 70px;
    color: #45a449;
}

.funcionalidades .funcionalidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

/* FIM STYLE FUNCIONALIDADES SITE */

/* STYLE MINHA HISTORIA e SOBRE */
section.sobre {
    padding: 80px 4%;
    background-color: aliceblue;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: black;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: #45a449;
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #45a449;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

.btn-social a:visited {
    color: black;
}

/* FIM STYLE MINHA HISTORIA e SOBRE */



/* STYLE MINHASARTES */

.Equipe {
    background-color: aliceblue;
    height: 60vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 5px;

}

.Equipe .interface {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

.Equipe .image-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    /* Espaço entre as imagens */

}

.Equipe .image-container a {
    width: 18%;
    /* Ajuste conforme necessário */
    height: auto;
    border-radius: 500px;
    /* Opcional: cantos arredondados */
}

.Equipe .image-container img {
    border-radius: 500px;
}


.Equipe .titulo-equipe {
    height: 25%;
    width: 100%;
    display: flex;
    font-size: 30pt;
    align-items: center;
    justify-content: center;
    gap: 50px;

}

.txt-equipe {

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 164px;
    font-size: 20pt;
}

.integrantes {
    height: 100%;
    width: 5%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

/* FIM STYLE MINHASARTES */


/* STYLE RODAPE */
footer {
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
    background-color: rgb(5, 5, 69);
    
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    gap: 50vw;
}

.line-footer .endereco{
    color: #fff;
    font-size: large;
}
.borda {
    border-top: 2px solid white;
}

footer .line-footer p i {
    color: #45a449;
    font-size: 22px;
    
}

footer .line-footer p a {
    color: #fff;
    
    text-decoration: none;
}

/* FIM STYLE RODAPE */

/* SCROLL LATERAL DIREITO */

::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #004306;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #12c406;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0d7d05;
  }