@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #001E30;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: inherit;
}

.div_branca a {
    width: 17vw;
    height: 7vh;
    margin-top: 40px;
}

#seta {
    width: 50px;
    margin: 15px 0px 0px 15px;
    cursor: pointer;
    display: inline;
}

@keyframes animar-card {
    from {
        opacity: 0;
        transform: translateY(-100%);
    } to {
        opacity: 1;
        transform: translateY(0%);
           
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 90vh;
    width: 100vw;
}

.div_branca {
    text-align: center;
    background-color: white;
    border-radius: 30px;
    height: 75vh;
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4em;
    margin-bottom: 2em;
    color: #4b4949;
    animation: animar-card 1s forwards ease-in-out;
}

.div_branca span {
    color: #45A449;
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#texto-redefinir {
    color: #403939;
    font-size: 25px;
    text-align: center;
}

.div_branca input {
    background-color: transparent;
    border: none;
    border-bottom: 4px solid #001E30;
    font-size: 24px;
    width: 25vw;
    color: #001E30;
}

.div_branca input::placeholder {
    color: #001e30a1;
    font-size: 1em;
}

.div_branca input:focus {
    outline: none;
}

#botao-redefinir {
    background-color: #76cc7a;
    color: white;
    font-weight: bold;
    width: 17vw;
    height: 7vh;
    border-radius: 20px;
    font-size: 22px;
    border: none;
    cursor: pointer;
}

#botao-redefinir:hover{
    background-color: #3fb144;
    box-shadow: 2px 2px 20px #00fd37b0;
    transition: all 0.35s ease-in-out;
    
}

#botao-redefinir:focus {
    background-color: #3fb144;
    box-shadow: 2px 2px 20px #00fd37b0;
    transition: all 0.35s ease-in-out;

}

#input-token {
    display: flex; 
    flex-direction: column; 
    align-items: start;

    font-size: 1.35em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.input-container {
    position: relative;
    width: 100%;
}


.toggle-password {
    position: absolute;
    right: 10px;
    top: 65%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
    height: 20px;
}


.container{
    top: 0;
    margin-top: 10vh;
    background-color: rgb(252, 245, 245);
    height: auto;
    width: auto;
    border-radius: 15px;
    flex-direction: column;
    box-shadow: 0px 8px 8px 0px #707070;
    display: flex;
    justify-content: start;
    align-items: center;
    border-top: 5px solid #19b755;
    padding: 12px 10px;
    font-family: Poppins;
    animation: animar-card 1s forwards ease-in-out;
    position:fixed;
    z-index: 100;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    color: #165b30;
}

.text{
    font-size: medium;
}

.img-modal{
    height: 50px;
    cursor: pointer;
}

.close{
    display: flex;
    gap: 18vw;
    margin-bottom: 10px;
}